.link {
    // PODSTAWOWY //
    color: $blue;
    position: relative;
    text-decoration: none;

    &:hover {
        color: $grey-light;
        text-decoration: underline;
        text-decoration: none;
    }

    &:focus {
        outline: none;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
    // MODYFIKATORY //
    // --TOPBAR //
    &--logo {
        color: $white;
        text-decoration: none;

        &:hover {
            color: $white;
        }
    }

    &--nav {
        color: $grey;
        &:hover {
            color: $gold;
        }
    }

    &--controls {
        // color: $grey-light;
        &:hover {
            // color: $pogon-color-dark;
        }
    }
    // --FOOTER //
    &--footer {
        color: #ffffff;
        padding: 2px;
        margin: 0 2px;
        box-sizing: border-box;
        position: relative;

        &:before {
            content: '';
            border-bottom: solid 1px #fff;
            position: absolute;
            bottom: 5px;
            left: 0;
            height: 1px;
            width: 100%;
            opacity: 0;
            @include transition($bezier);
        }

        &:hover {
            color: #ffffff;

            &:before {
                opacity: 1;
            }
        }
    }
}
