.link {
    // PODSTAWOWY //
    color: $blue;
    position: relative;
    text-decoration: none;

    &:hover {
        color: $gold;
        text-decoration: underline;
        text-decoration: none;
    }

    &:focus {
        outline: none;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
    // MODYFIKATORY //
    // --TOPBAR //
    &--logo {
        color: $white;
        text-decoration: none;

        &:hover {
            color: $white;
        }
    }

    &--nav {
        color: $grey;
        &:hover {
            color: $gold;
        }
    }

    &--controls {
        // color: $grey-light;
        &:hover {
            // color: $pogon-color-dark;
        }
    }
    // --FOOTER //
    &--footer {
        color: $white;
        &:hover {
            color: $gold;
        }
    }
}
