.link {
    // PODSTAWOWY //
    color: $blue;
    position: relative;
    text-decoration: none;

    &:hover {
        color: $gold;
        text-decoration: underline;
        text-decoration: none;
    }

    &:focus {
        outline: none;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
    // MODYFIKATORY //
    // --TOPBAR //
    &--logo {
        color: $white;
        text-decoration: none;

        &:hover {
            color: $white;
        }
    }

    &--nav {
        color: $grey;
        &:hover {
            color: $gold;
        }
    }

    &--controls {
        // color: $grey-light;
        &:hover {
            // color: $pogon-color-dark;
        }
    }
    // --FOOTER //
    &--footer {
        color: $white;
        &:hover {
            color: $gold;
        }
    }
    &--social {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
        margin-left: 10px;
        float: right;
        color: $white;
        outline: solid 1px rgba(255, 255, 255, 0.3);
        width: 40px;
        height: 40px;
        &:hover {
            color: $white;
        }
    }
    &--fb {
        &:hover {
            background-color: $color-fb;
            outline: none;
        }
    }

    &--tw {
        &:hover {
            background-color: $color-tw;
            outline: none;
        }
    }

    &--vk {
        &:hover {
            background-color: $color-vk;
            outline: none;
        }
    }
    &--shop {
        height: inherit;
        width: inherit;
        position: absolute;
        font-weight: 700;
        text-transform: uppercase;
        box-sizing: border-box;
        padding-left: 52px;
    }
}
