.social {
    display: none;
    @include mq($from:desktop) {
        display: block;
        color: $white;
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    &__followUs {
        display: none;
        @include mq($from:tablet) {
            font-size: 12px;
            font-weight: 800;
            text-transform: uppercase;
            line-height: 40px;
            display: inline;
        }
    }
}
