.widget_sp_event_blocks {
    @extend .section;
    @extend .section--white;
    // @extend .section--side;
    @include deco($gold);
    margin-bottom: 20px;

    & table {
        // display: block;
        width: 100%;
        // justify-content: space-around;
    }
}

.widget_sp_event_blocks > h3 {
    @extend .section__title;
}

.team-logo {
    width: 82px;
    height: auto;
    margin: 10px;

    & > img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
}

.sp-event-blocks .logo-even {
    float: right;
}

.sp-event-blocks .logo-odd {
    float: left;
}

.sp-event-date {
    text-align: center;
    display: block;
    margin: 10px 0;
    clear: none;
    font-size: 14px;

    & > a {
        @extend .link;
    }
}

.sp-event-results {
    text-align: center;
    display: block;
    margin: 10px 0;
    clear: none;
    font-size: 14px;
    & > a {
        @extend .link;
    }
}
.sp-event-title {
    text-align: center;
    display: block;
    margin: 10px 0;
    clear: none;
    & > a {
        @extend .link;
    }
}

// GALLERY MODYFIERS

.sp-template-player-gallery {
    overflow: hidden;
}

.sp-player-gallery-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.gallery-item {
    margin: 0;
    overflow: hidden;
    width: 210px;
    text-align: center;
    margin-bottom: 20px;
    & img {
        width: 210px;
        height: 210px;
    }

}
.gallery-caption {
    margin: 0;
}
.player-gallery-group-name {
    width: 100%;
}

// MATCH //

.sp-event-logos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.sp-team-logo {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 20px;
    & .sp-team-name {
        margin-top: 10px;
    }
}
.sp-data-table {
    width: 100%;
    text-align: left;
    & td {
        text-align: left;
    }
}
.sp-event-results {
    text-align: center;
    & td {
        text-align: center;
    }
}
