.head {
    @include clearfix;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    flex-wrap: nowrap;
    @include mq($from:wide) {
        background-color: transparent;
        padding: 0;
    }
    &__trigger {
        display: inline-block;
        margin-left: auto;
        z-index: 2;
        height: 70px;
        right: 10px;
        z-index: 5;
        @include mq($from:desktop) {
            display: none;
        }
    }
}

.logoContainer {
    align-self: flex-start;
    position: relative;
    display: flex;
    flex-direction: row;

    &__logo {
        @include transition($bezier);
        background-repeat: no-repeat;
        display: block;
        width: 64px;
        height: 68px;
        z-index: 5;
        @include mq($from:tablet) {
            @include background-image( 'logo');
            width: 131px;
            height: 140px;
        }

        &--klub {
            @include background-image( 'logo-mobile');
            @include mq($from:tablet) {
                @include background-image( 'logo');
            }
        }
    }

    &__name {
        display: none;
        @include mq($from:tiny) {
            display: inline;
            font-size: 20px;
            font-weight: 700;
            margin: 0 0 0 10px;
            line-height: 68px;
        }
        @include mq($from:mobile) {
            font-size: 24px;
        }
        @include mq($from:tablet) {
            color: #fff;
            font-size: 40px;
            font-weight: 800;
            margin: 0 0 0 20px;
            line-height: 135px;
            display: block;
        }
    }

    &__desc {
        display: none;
        @include mq($from:tablet) {
            display: block;
            text-transform: uppercase;
            font-size: 9px;
            font-weight: 700;
            color: $white;
            font-weight: 800;
            left: 153px;
            top: 88px;
            position: absolute;
        }
    }
}
