@import "vars";
@import "mixins";
@import "node_modules/sass-mq/_mq.scss";
@import "icons";

body {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: top;
    background-color: #04022a;
    font-family: $fontstack;
    font-size: $font-size;
    line-height: $line-height;
}

.container {
    box-sizing: border-box;
    margin-bottom: 10px;
    @include mq($from:wide) {
        margin: 0 auto;
        margin-bottom: 10px;
        width: $container-wide;
    }
}
// PARTS
@import "parts/head";
@import "parts/topbar";

// COMPONENTS
@import "components/link";
@import "components/social";
@import "components/search";
